.App {
  text-align: center;
  margin-top: 2rem;
  color: #FFC0Cc;
}

body{
  background-color: #FFC0Cc;
}

.heading {
  font-size: 2rem;
  color: #f2647e;
}

.camera-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.camera-container video {
  border-radius: 10px;
}

.image-preview {
  margin-top: 1rem;
}

.image {
  border-radius:10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.action-button {
  padding: 0.5rem 1rem;
  background-color: #f2647d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #f4a8b6;
}

.remove-button {
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #bd2130;
}

.success {
  padding: 1rem;
  color: green;
}

.failure {
  padding: 1rem;
  color: red;
}

.diaphragm{
  align-self: center;
}